body {
    color: var(--color-dark);
    font-family: var(--text-font-name-primary), sans-serif;
    font-size: 62.5%;
    margin: var(--padding-medium) var(--padding-large) 0 var(--padding-large);
}

footer {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    font-size: var(--text-size-link);
    font-weight: var(--text-size-regular);
    justify-content: center;
    height: var(--padding-xlarge);
    position: fixed;
    width: 100%;
}

header {
    align-items: center;
    display: flex;
    font-size: var(--text-size-header);
    font-weight: var(--font-weight-thin);
    justify-content: space-between;
}

main {
    padding-bottom: var(--padding-xlarge);
    margin-left: calc(var(--padding) * 10);
    margin-top: var(--padding-large);
}

.content {
    background-color: lightcyan;
    display:flex;
    font-family: var(--text-font-name-secondary), sans-serif;
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-semibold);
}

.content__links {
    background-color: thistle;
    display:flex;
    flex-direction: column;
    font-size: var(--text-size-link);
    font-weight: var(--text-size-regular);
}

.content__padder {
    height: calc(var(--padding) * 6);
    width: 1px;;
}

.content__types {
    display:flex;
}

.content__type--design {
    fill: var(--color-accent-one);
}

.content__type--code {
    fill: var(--color-accent-two);
}

.content__type--words {
    fill: var(--color-accent-three);
}

.content__type--disabled {
    fill: var(--color-gray);
}

.content__timeline {
    display:flex;
    flex-direction: column;
}

.content__timeline-line {
    background-color: var(--color-gray);
    height: 100%;
    margin: var(--padding) 0;
    width: 1px;
}

.logo {
    cursor: pointer;
    fill: var(--color-dark);
    height: auto;
    width: 60px;
}