/* basics */
a, a:visited {
    color: var(--color-link);
}

a:hover {
    filter: brightness(70%);
}

a:active {
    filter: brightness(120%);
}

aside {
    display: flex;
}

a.button, a.button:visited {
    align-items: center;
    border: solid 1px;
    border-radius: var(--padding-large);
    display: flex;
    font-size: var(--text-size-link);
    padding: var(--padding);
    text-decoration: none;
    margin-left: var(--padding-medium);
}

a.button--design {
    color: var(--color-accent-one) !important;
    border-color: var(--color-accent-one) !important;
}

a.button--code {
    color: var(--color-accent-two) !important;
    border-color: var(--color-accent-two) !important;
}

a.button--words {
    color: var(--color-accent-three) !important;
    border-color: var(--color-accent-three) !important;
}

a.selected--design {
    background-color: var(--color-accent-one-t);
}

a.selected--code {
    background-color: var(--color-accent-two-t);
}

a.selected--words {
    background-color: var(--color-accent-three-t);
}

body {
    color: var(--color-dark);
    font-family: var(--text-font-name-primary), sans-serif;
    font-size: 62.5%;
}

footer {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    font-size: var(--text-size-small);
    font-weight: var(--text-size-regular);
    justify-content: center;
    height: var(--padding-xlarge);
    position: fixed;
    width: 100%;
}

footer a {
    padding-left: var(--padding);
}

footer.scroll-indicator {
   border-top: solid 1px var(--color-gray);
}

header {
    align-items: center;
    display: flex;
    font-size: var(--text-size-header);
    font-weight: var(--font-weight-thin);
    justify-content: space-between;
    margin: var(--padding-medium) var(--padding-large) 0 var(--padding-large);
}

main {
    padding-bottom: var(--padding-xlarge);
    margin-left: calc(var(--padding) * 14);
    margin-top: var(--padding-large);
}

/* content section */
.content {
    display:flex;
    font-family: var(--text-font-name-secondary), sans-serif;
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-semibold);
}

.content__links {
    display:flex;
    flex-direction: column;
    font-size: var(--text-size-link);
    font-weight: var(--text-size-regular);
}

.content__link {
    align-items: flex-start;
    display:flex;
    padding-bottom: var(--padding-medium);
}

.content__padder {  
    height: calc(var(--padding) * 6);
    width: 1px;;
}

.content__types {
    align-items: center;
    display:flex;
    margin-left: var(--padding-xlarge);
    padding-right: var(--padding);
}

.content__timeline {
    display:flex;
    flex-direction: column;
}

.content__timeline-line {
    background-color: var(--color-gray);
    flex-grow: 1;
    margin: var(--padding) 0 var(--padding) var(--padding);
    width: 1px;
}

/* icons and stuff */
.logo {
    cursor: pointer;
    fill: var(--color-dark);
    height: auto;
    width: 60px;
}

.type {
    height: calc(var(--padding) * 1.5);
    width: calc(var(--padding) * 1.5);
    background-size: 100% 100%;
    margin-right: calc(var(--padding) / 2);
    margin-top: 3px;
    pointer-events: none;
}

.type__design {
    background: url(../assets/design.svg);
}

.type__code {
    background: url(../assets/code.svg);
}

.type__words {
    background: url(../assets/words.svg);
}

.type__no-design {
    background: url(../assets/no-design.svg);
}

.type__no-code {
    background: url(../assets/no-code.svg);
}

.type__no-words {
    background: url(../assets/no-words.svg);
}