a, a:visited {
    color: var(--color-default-dark);
    font-size: var(--text-two-link-secondary-size);
    font-weight: var(--font-weight-regular);
}

a:active, a:hover {
    color: var(--color-two-text-accent);
}

h1 {
    font-size: var(--text-two-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

html, body {
    font-family: var(--text-two-font-name), sans-serif;
    color: var(--color-default-dark);
}

img {
    padding-top: calc(var(--padding) * 5);
    width: 100%;
}

p {
    padding-top: calc(var(--padding) * 4);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin-right: calc(var(--padding) * 64);
    margin-left: calc(var(--padding) * 12);
    margin-top: calc(var(--padding) * 7);
}

section {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: calc(var(--padding) * 12);
    margin-top: calc(var(--padding) * 12);
    right: 0;
    top: 0;
    width: calc(var(--padding) * 32);
}

#js_c-cs-transition-shim {
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 1.5s;
    z-index: 1000 !important;
}

.c-cs-article {
    display: flex;
    flex-direction: column;
    font-size: var(--text-two-copy-size);
    padding-bottom: calc(var(--padding) * 5);
}

.c-cs-article__header {
    display: flex;
    flex-direction: row;
    height: calc(var(--padding) * 7);
}

.c-cs-article__header a {
    margin-left: calc(var(--padding) * 2);
}

.c-cs-asidespacer {
    background-color:transparent;
}

.c-cs-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: calc(var(--padding) * 5);
}

.c-cs-footer a:first-child {
    padding-left: 0;
}

.c-cs-footer a {
    padding-left: calc(var(--padding) * 2);
}

.c-cs-learn-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(var(--padding) * 1);
    transform: translateY(36px);
}

.c-cs-nav {
    display: flex;
    flex-direction: row;
    height: calc(var(--padding) * 5);
}

.c-cs-nav a, .c-cs-nav a:active, .c-cs-nav a:hover, .c-cs-nav a:visited {
    font-size: var(--text-two-subheader-size);
    font-weight: var(--font-weight-thin);
    text-decoration: none;
    width: 100%;
}

/* Right Content - Big Picture */
.c-cs-bigpicture {
    display: flex;
    flex-direction: column;
    font-size: var(--text-two-link-secondary-size);
    height: calc(var(--padding) * 12);
}

.c-cs-bigpicture ul {
    list-style-type: none;
    margin: 0;
    padding: var(--padding) 0 0 0;
}

.c-cs-bigpicture li {
    padding-bottom: var(--padding);
}

.c-cs-bigpicture__outcome {
    margin-bottom: calc(var(--padding) * 4);
}

.c-cs-bigpicture__outcome__hero-number {
    font-size: var(--text-one-link-primary-size);
}

.c-cs-bigpicture__outcome__hero-descriptor {
    margin-top: calc(var(--padding) * -1);
}

.c-cs-bigpicture__outcome__title {
    font-size: var(--text-two-article-pull-quote);
}

.c-cs-bigpicture__outcome__description {
    line-height: calc(var(--text-two-link-secondary-size) * 1.4);
    padding-top: var(--padding);
}