h1 {
    font-size: var(--text-two-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
}

img {
    padding-top: calc(var(--padding) * 5);
    width: 100%;
}

p {
    padding-top: calc(var(--padding) * 4);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: calc(var(--padding) * 5) calc(var(--padding) * 65) calc(var(--padding) * 6) calc(var(--padding) * 12); 
}

article {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-name-secondary), sans-serif;
    font-size: var(--text-size-standard);
    padding-bottom: calc(var(--padding) * 5);
}

header {
    display: flex;
    flex-direction: column;
    font-size: var(--text-size-header);
}

.header__learn-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--padding);
}

.header__learn-more a {
    color: var(--color-dark) !important;
    font-size: var(--text-size-small);
    margin-right: var(--padding);
}

nav {
    display: flex;
    flex-direction: row;
    height: calc(var(--padding) * 5);
}

nav a, nav a:active, nav a:hover, nav a:visited {
    font-size: var(--text-size-standard);
    text-decoration: none;
    width: 100%;
}

.logo {
    width: 20px;
    margin-right: var(--padding);
}

/* Right Content - Big Picture */
aside {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-name-secondary), sans-serif;
    margin-right: calc(var(--padding) * 12);
    margin-top: calc(var(--padding) * 12);
    position: fixed;
    right: 0;
    top: 0;
    width: calc(var(--padding-xlarge) * 4);
}

aside ul {
    font-size: var(--text-size-small);
    list-style-type: none;
    margin: 0;
    padding: var(--padding) 0 0 0;
}

aside li {
    padding-bottom: var(--padding);
}

.aside__outcome {
    margin-bottom: calc(var(--padding) * 4);
}

.aside__hero-number {
    font-size: var(--text-size-header);
    font-weight: var(--font-weight-semibold);
}

.aside__hero-descriptor {
    display: flex;
    font-size: var(--text-size-standard);
    margin-top: calc(var(--padding) * -1);
}

.aside__title {
    font-size: var(--text-size-button);
    font-weight: var(--font-weight-semibold);
}

.aside__description {
    font-size: var(--text-size-small);
    line-height: calc(var(--text-two-link-secondary-size) * 1.4);
    padding-top: var(--padding);
}

.clipper {
    margin-right: var(--padding);
    overflow: hidden;
    width: calc(var(--padding) * 12);
}