h1 {
    font-size: var(--text-two-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: calc(var(--padding) * 12) auto calc(var(--padding) * 64);
    grid-template-rows: auto;
    grid-template-areas: 
    ". nav ."
    ". header ."
    ". article ."
    "footer footer footer";
}

img {
    padding: var(--padding-medium) 0;
    width: 100%;
}

li {
    list-style-type: none;
    margin-bottom: calc(var(--padding) * 0.3);
}

p {
    line-height: 125%;
    padding: var(--padding-medium) 0;
    margin: 0;
}

video {
    padding: var(--padding-medium) 0 var(--padding-medium) 0;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-name-secondary), sans-serif;
    font-size: var(--text-size-article);
    grid-area: article;
    padding-bottom: calc(var(--padding-xlarge) * 2);
}

header {
    display: flex;
    flex-direction: column;
    font-size: var(--text-size-header);
    margin-bottom: var(--padding-xlarge);
    grid-area: header;
}

.header__learn-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--padding);
}

.header__learn-more a {
    color: var(--color-dark) !important;
    font-size: var(--text-size-standard);
    margin-right: var(--padding);
}

nav {
    display: flex;
    flex-direction: row;
    grid-area: nav;
    height: calc(var(--padding) * 5);
    margin-top: calc(var(--padding) * 5);
}

nav a, nav a:active, nav a:hover, nav a:visited {
    font-size: calc(var(--text-size-button) * 1.1);
    text-decoration: none;
    width: 100%;
}

.logo {
    width: 20px;
    margin-right: var(--padding);
}

.article__content-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article__content-stack img {
    margin: auto;
    width: 50%;
}

.article__left-image {
    display: grid;
    grid-template-columns: auto 50%;
    gap: var(--padding-large);
    width: 100%;
}

.article__right-image {
    display: grid;
    grid-template-columns: 50% auto;
    gap: var(--padding-large);
    width: 100%;
}

.article__double-image {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--padding-large);
    width: 100%;
}

.article__principle {
    border-radius: var(--padding);
    color: white;
    font-family: var(--text-font-name-primary), sans-serif;
    font-size: var(--text-size-standard);
    font-weight: var(--font-weight-thin);
    padding: var(--padding-medium);
    margin: var(--padding) 0;
}

.principle--one {
    background-color: var(--color-accent-one);
}

.principle--two {
    background-color: var(--color-accent-two);
}

.principle__copy {
    font-size: calc(var(--text-size-button) * 1.2);
}

/* Right Content - Big Picture */
aside {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-name-secondary), sans-serif;
    grid-area: aside;
    position: fixed;
    right: calc(var(--padding) * 12);
    top: calc(var(--padding-xlarge) + var(--padding-large));
    width: calc(var(--padding-xlarge) * 4);
}

aside ul {
    font-size: var(--text-size-standard);
    list-style-type: none;
    margin: 0;
    padding: var(--padding) 0 0 0;
}

aside li {
    padding-bottom: var(--padding);
}

.aside__outcome {
    margin-bottom: calc(var(--padding) * 4);
}

.aside__hero-number {
    font-size: var(--text-size-header);
    font-weight: var(--font-weight-semibold);
    padding-bottom: calc(var(--padding) * 0.5);
}

.aside__hero-descriptor {
    display: flex;
    font-size: var(--text-size-standard);
    margin-top: calc(var(--padding) * -1);
}

.aside__title {
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-bold);
}

.aside__description {
    font-size: var(--text-size-standard);
    line-height: 120%;
    padding-top: var(--padding);
}

.clipper {
    margin-right: var(--padding);
    overflow: hidden;
    width: calc(var(--padding) * 13);
}

.detailsIn {
    animation-name: detailsInAnimation;
    animation-duration: calc(var(--duraton-default) * 1);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
} 

/* Link block */
.article__link-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-large);
    justify-items: stretch;
    margin: var(--padding-large) 0;
    width: 100%;
}

.article__link-block-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.article__link-block-item a {
    margin-bottom: var(--padding-medium);
}

.article__link-block-header {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--padding-medium);
}