@import "h-variables.css";

.c-button {
    outline: none;
    cursor: pointer;
}

.c-button_fullwidth {
    display: block;
    width: 100%;
}

.c-button__primary {
    background-color: var(--color-button-default);
    border-radius: calc(var(--padding) * 0.5);
    border-width: 0;
    color: white;
    margin-bottom: calc(var(--padding) * 0.5);
    padding: calc(var(--padding) * 1.5);
}

.c-button__primary:hover {
    background-color: var(--color-button-hover);
}

.c-button__primary:active {
    background-color: var(--color-button-pressed);
}

.c-button__primary:disabled {
    background-color: var(--color-button-disabled);   
}

.c-button__secondary {
    border: 2px var(--color-button-default) solid;
    border-radius: calc(var(--padding) * 0.5);
    color: var(--color-button-default);
    margin-bottom: calc(var(--padding) * 0.5);
    padding: calc(var(--padding) * 1.5);
}

.c-button__secondary:hover {
    border-color: var(--color-button-hover);
    color: var(--color-button-hover);
}

.c-button__secondary:active {
    border-color: var(--color-button-pressed);
    color: var(--color-button-pressed);
}

.c-button__secondary:disabled {
    border-color: var(--color-button-disabled);   
    color: var(--color-button-disabled);   
}

.c-button__tertiary {
    border: none;
    color: var(--color-button-default);
    margin-bottom: calc(var(--padding) * 0.5);
    padding: calc(var(--padding) * 1.5);
}

.c-button__tertiary:hover {
    color: var(--color-button-hover);
}

.c-button__tertiary:active {
    color: var(--color-button-pressed);
}

.c-button__tertiary:disabled {
    color: var(--color-button-disabled);   
}

.c-button__icon {
    border: none;
    background-color: transparent;   
}

.c-button__icon .is-default {
    display: block;
}

.c-button__icon .is-hovered {
    display: none;
}

.c-button__icon .is-pressed {
    display: none;
}

.c-button__icon .is-disabled {
    display: none;
}

.c-button__icon:hover .is-default {
    display: none;
}

.c-button__icon:hover .is-hovered {
    display: block;
}

.c-button__icon:hover .is-pressed {
    display: none;
}

.c-button__icon:hover .is-disabled {
    display: none;
}

.c-button__icon:active .is-default {
    display: none;
}

.c-button__icon:active .is-hovered {
    display: none;
}

.c-button__icon:active .is-pressed {
    display: block;
}

.c-button__icon:active .is-disabled {
    display: none;
}

.c-button__icon:disabled .is-default {
    display: none;
}

.c-button__icon:disabled .is-hovered {
    display: none;
}

.c-button__icon:disabled .is-pressed {
    display: none;
}

.c-button__icon:disabled .is-disabled {
    display: block;
}

.c-button__icon.is-selected .is-default {
    display: none;
}

.c-button__icon.is-selected .is-hovered {
    display: none;
}

.c-button__icon.is-selected .is-pressed {
    display: block;
}

.c-button__icon.is-selected .is-disabled {
    display: none;
}

.c-button__tab {
    background-color: var(--color-button-disabled);
    border-color: var(--color-txt-gray);
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: var(--color-txt-dark);
    width: 100%;
    padding: calc(var(--padding) * 2);
}

.c-button__tab:hover {
    background-color: white;
}

.c-button__tab.is-selected {
    background-color: white;
    border-color: var(--color-txt-gray) var(--color-txt-gray) white transparent;
    border-width: 1px 1px 1px 0;
    font-weight: bold;
}

.h-icon-source {
    width: 1.75em;
    height: 1.75em;
    pointer-events: none;
}

.c-button__playback {
    background-color: transparent;
    border: none;
    height: 22px;
    position: relative;
    width: 24px;
}

.c-button__playback:hover {
    filter: brightness(165%);
}

.c-button__playback:active {
    filter: brightness(50%);
}

.h-icon-playback {
    height: 22px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 22px;
}