#c-effects-container {
    background-color: #efefef;
    font-size: 1em;
    height: 100%;
    pointer-events: none;
    width: 100%;
}

#c-effects-close {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: calc(var(--padding) * 2);
    top: calc(var(--padding) * 2);
    transition: opacity 0.25s;
    z-index: 52;
}

#c-effects-close a {
    color: var(--color-default-light);
}

#c-grid-canvas {
    background-color: #000000DD;
    left: 0;
    opacity: 0;
    overflow: hidden;
    perspective: var(--effect-perspective);
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.25s;
    z-index: 51;
}

.c-zdog-canvas {
    animation: pulsate 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    background-color: #000000DD;
    left: 0;
    filter: saturate(100%);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.25s;
    z-index: 50;
}

.c-grid-item {
    background-color: black;
    left: 0;
    position: absolute;
    top: 0; 
    transform: scale(0.8,0.8);
    transition: background-color 0.1s, transform 0.3s;
    transition-delay: 1s;
    transform-origin: 50% 50%;
    transition-timing-function: ease-in;
    z-index: 0;
}

path {
	mix-blend-mode: luminosity;	
}

@keyframes pulsate {
    from {filter: saturate(100%);}
    to {filter: saturate(500%);}
}

@keyframes colorFadeOne {
    0% {background-color: #63222D;}
    25% {background-color: #D34862;}
    100% {background-color: #63222D;}
}

@keyframes colorFadeTwo {
    0% {background-color: #1D5F73;}
    25% {background-color: #37B5DD;}
    100% {background-color: #1D5F73;}
}