a, a:visited {
    color: var(--color-link);
}

a:hover {
    filter: brightness(70%);
}

a:active {
    filter: brightness(120%);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-dark);
    font-family: var(--text-font-name-primary), sans-serif;
    font-size: 1.6rem;
}

h3 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--padding);
    margin-top: var(--padding-xlarge);
}

ul {
    margin-bottom: 0;
}

footer {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    font-size: var(--text-size-footer);
    font-weight: var(--text-weight-regular);
    flex-wrap: wrap;
    justify-content: center;
    height: var(--padding-xlarge);
    position: fixed;
    width: 100%;
    white-space: nowrap;
}

footer a {
    color: var(--color-dark) !important;
    padding-left: var(--padding);
}

footer.scroll-indicator {
   border-top: solid 1px var(--color-gray);
}

code {
    background-color: var(--color-gray);
    border-radius: calc(var(--padding) * 0.5);
    color: var(--color-accent-one);
    font-family: "Courier New" Courier monospace;
    font-size: var(--text-size-standard);
    padding: calc(var(--padding) * 0.5);
}

.chevron {
    cursor: pointer;
    fill: var(--color-link);
    height: auto;
    margin-right: calc(var(--padding) * 0.5);
    width: 7px;
}

.logo {
    cursor: pointer;
    fill: var(--color-dark);
    height: auto;
    width: 60px;
}

.size-limit {
    height: auto;
    margin: auto;
    padding-top: 0;
    max-width: 250px;
}

.reminder {
    color: var(--color-accent-one);
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-bold);
}

.lightbox {
    background-color: #FFFFFFAA;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.lightbox__image {
    background-color: white;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    position: absolute;
    pointer-events: none;
}

/* About Popup */
.about {
    background-color: #FFFFFFAA;
    font-family: var(--text-font-name-secondary), sans-serif;
    font-size: var(--text-size-standard);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.about a {
    font-size: var(--text-size-standard);
}

.about h1 {
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--padding);
    margin-top: 0;
}

.about img {
    border-radius: var(--padding);
    height: 40%;
    width: 40%;
}

.about__modal {
    align-items: flex-end;
    background-color: white;
    border-width: 0;
    border-radius: var(--padding-medium);
    box-shadow: var(--effect-default-shadow);
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-top: var(--padding-large);
    padding: var(--padding-xlarge) var(--padding-xlarge) var(--padding-large) var(--padding-xlarge);
    width: 50%;
}

.about__content {
    display: flex;
    flex-direction: row;
}

.about__copy {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--padding-large);
    margin-left: var(--padding-large);
}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

@media only screen and (max-width: 1024px) {
    .about__modal {
        width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .about__modal {
        align-items: center;
        padding: var(--padding-large);
    }
}

@media only screen and (max-width: 450px) {
    .about {
        background-color: transparent;
    }

    .about__copy {
        margin-left: 0;
        margin-bottom: var(--padding-medium);
        margin-top: var(--padding-large);
    }

    .about__modal {
        align-items: center;
        height: auto;
        margin-top: var(--padding-medium);
        width: 80%;
    }

    .about__content {
        align-items: center;
        flex-direction: column;
    }

    .modal-open {
        height: auto;
        overflow-y: auto;
        padding-right: auto;
    }
}