@import "h-variables.css";

.c-timeline-panel {
    background-color: white;
    grid-area: c-timeline-panel;
    overflow: hidden;
    position: relative;
}

.c-timeline-panel__header {
    align-content: flex-end;
    border-bottom: var(--color-border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: grid;
    grid-template-columns: repeat(var(--timeline-columns), 1fr);
    height: 48px;
    position: relative;
}

.c-timeline-panel__header__playback-progress {
    border-top: var(--color-border);
    border-top-width: 1px;
    border-top-style: solid;
    height: 4px;
    width: 100%;
}

.c-timeline-panel__frames {
    display: grid;
    grid-template-columns: repeat(var(--timeline-columns), 1fr);
    grid-template-rows: repeat(var(--timeline-rows), 1fr);
    height: 100%;
    width: 100%;
}

.c-timeline-panel__frame {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.c-timeline-panel__frame__kp-human {
    background-color: var(--color-timeline-kf-human);
    height: 100%;
    width: 100%;
}

.c-timeline-panel__frame__kp-ml {
    background-color: var(--color-timeline-kf-ml);
    height: 100%;
    width: 100%;
}

.c-timeline-panel__frame__kp-linear {
    background-color: var(--color-timeline-kf-ml);
    height: 4px;
    width: 100%;
}

.c-timeline-panel__frame-indicator {
    background-color: var(--color-txt-positive);
    height: 100%;
    left: var(--padding);
    position: absolute;
    top: calc(var(--padding) * 4);
    width: 2px;
    z-index: 300;
}

.c-timeline-panel__frame-indicator-playhead {
    background-color: white;
    border-color: var(--color-txt-dark);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    color: var(--color-txt-dark);
    cursor: grab;
    font-size: 0.6em;
    font-weight: bold;
    height: 12px;
    left: 0;
    margin-top: 26px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 16px;
    z-index: 301;
}