/* article layout stuff */

.h-first-p::first-letter {
    font-size: 250%;
    font-weight: var(--font-weight-semibold);
}

/* Source: https://miekd.com/articles/pull-quotes-with-html5-and-css/ */
.h-has-pull-quote__right:before {
	content: attr(data-pullquote);
    float: right;
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-semibold);
    padding-bottom: calc(var(--padding) * 2);
	padding-left: calc(var(--padding) * 6);
	position: relative;
    width: 50%;
}

.h-has-pull-quote__left:before {
	content: attr(data-pullquote);
    float: left;
    font-size: var(--text-size-subheader);
    font-weight: var(--font-weight-semibold);
    padding-bottom: calc(var(--padding) * 2);
    padding-right: calc(var(--padding) * 6);
	position: relative;
    width: 50%;
}