a {
    font-size: var(--text-one-link-secondary-size);
    font-weight: var(--font-weight-regular);
}

a, a:visited {
    color: var(--color-default-light);
}

a:hover, a:active {
    color: black;
}

a.large {
    font-size: var(--text-one-link-primary-size); 
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--padding) * 5);
    transition: opacity 0.25s;
}

a.large:last-child {
    margin-bottom: 0;
}

a.large:hover, a.large:active {
    color: var(--color-one-text-accent);
    filter: saturate(250%);
}

a.link--button:link, a.link--button:visited {
    color: var(--color-default-light);
    background-color: var(--color-one-button-default-background);
    padding: calc(var(--padding) * 0.75) calc(var(--padding) * 2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link--button:hover {
    background-color: var(--color-one-button-hover-background);
}

a.link--button:link.link--selected {
    border: solid 1px var(--color-default-light);
}

#js_one {
    border-radius: calc(var(--padding) * 2) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
}

#js_two {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 2) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
}

#js_light {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 2);
}

#js_dark {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 2) calc(var(--padding) * 0.5);
}

html, body {
    color: var(--color-one-text-accent);
    font-family: var(--text-one-font-name), sans-serif;
    font-weight: var(--font-weight-thin);
}

h1 {
    color: var(--color-default-light);
    font-size: var(--text-one-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
    text-align: center;
}

h4 {
    color: var(--color-one-text-accent);
    font-size: var(--text-one-subheader-size);
    font-weight: var(--font-weight-bold);
    margin: 0 0 calc(var(--padding) * 0.5) 0 ;
}

.logo {
    cursor: pointer;
    grid-column: 1 / span 3;
    padding-bottom: calc(var(--padding) * 4);
    margin: auto;
    width: 80px;
}

#c-effects-overlay {
    background-color: transparent;
    height: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    z-index: 0;
}

#c-effects-overlay__shim {
    /* background-color: black; */
    border-left: 4px solid #963446;
    background-image: linear-gradient(to right, #63222D, #63222D 0.24%, rgba(0,0,0,1) 0.25%, rgba(0,0,0,1) 100%);
    height: 0;
    position: absolute;
    pointer-events: none;
    right: -150%;
    top: 0;
    transition: right 0.25s, transform 0.35s;
    transition-timing-function: ease-in-out;
    width: 150%;
}

#c-ui-controls {
    opacity: 1;
    transition: opacity 0.25s;
}

@media only screen and (max-width: 1020px) {
    a.large {
        font-size: calc(var(--text-one-link-primary-size) * 0.8); 
    }

    h1 {
        font-size: calc(var(--text-one-header-size) * 0.8);
    }
}

@media only screen and (max-width: 840px) {
    #js_one {
        border-radius: calc(var(--padding) * 2) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 2);
    }
    
    #js_two {
        border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
    }
    
    #js_light {
        border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
    }
    
    #js_dark {
        border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 2) calc(var(--padding) * 2) calc(var(--padding) * 0.5);
    }

    a.large {
        font-size: calc(var(--text-one-link-primary-size) * 0.7); 
    }

    h1 {
        font-size: calc(var(--text-one-header-size) * 0.7);
    }
}

@media only screen and (max-width: 670px) {
    a.large {
        font-size: calc(var(--text-one-link-primary-size) * 0.45); 
        margin-left: calc(var(--padding) * 3);
        margin-bottom: calc(var(--padding) * 1);
        text-align: left;
    }

    h1 {
        text-align: left;
    }
    
    h4 {
        color: var(--color-default-light);
        font-size: calc(var(--text-one-subheader-size) * 0.85);
    }

    .logo {
        width: 40px;
    }
}