.blurIn {
    animation-name: blurInAnimation;
    animation-duration: var(--duraton-default);
    animation-fill-mode: forwards;
}

.blurOut {
    animation-name: blurOutAnimation;
    animation-duration: var(--duraton-default);
    animation-fill-mode: forwards;
}

@keyframes blurInAnimation { 
    from { filter: blur(0px); } 
    to { filter: blur(var(--padding-medium)); } 
} 

@keyframes blurOutAnimation { 
    from { filter: blur(var(--padding-medium)); } 
    to { filter: blur(0px); } 
} 

.fadeIn {
    animation-name: fadeInAnimation;
    animation-duration: var(--duraton-default);
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: fadeOutAnimation;
    animation-duration: var(--duraton-default);
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    from { opacity: 0; } 
    to { opacity: 1; } 
} 

@keyframes fadeOutAnimation { 
    from { opacity: 1; } 
    to { opacity: 0; } 
} 

.slideIn {
    animation-name: slideInAnimation;
    animation-duration: calc(var(--duraton-default) * 1.5);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes slideInAnimation { 
    from { 
        opacity: 0;
        transform: translateX(-250px); 
    } 
    to { 
        opacity: 1;
        transform: translateX(0); 
    } 
} 

.slideOut {
    animation-name: slideOutAnimation;
    animation-duration: calc(var(--duraton-default) * 1);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes slideOutAnimation { 
    from { 
        opacity: 1;
        transform: translateX(0); 
    } 
    to { 
        opacity: 0;
        transform: translateX(250px); 
    } 
} 