:root {
    --duraton-default: 0.3s;

    --color-accent-one: #FF6A85;
    --color-accent-two: #9948FF;
    --color-accent-three: #46C127;
    --color-accent-one-t: #FF6A8533;
    --color-accent-two-t: #9948FF33;
    --color-accent-three-t: #46C12733;
    --color-dark: #3C4D5B;
    --color-gray: #D8DBDE;
    --color-link: #0085FF;
    --color-link-t: #0085FF33;

    --effect-default-shadow: 0px 24px 112px rgba(0, 0, 0, 0.46);

    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 500;

    --padding: 8px;
    --padding-medium: calc(var(--padding) * 2);
    --padding-large: calc(var(--padding) * 4);
    --padding-xlarge: calc(var(--padding) * 8);

    --text-font-name-primary: "Work Sans";
    --text-font-name-secondary: "Nunito";

    --text-size-button: 1.4rem;
    --text-size-header: 4.0rem;
    --text-size-header-small: 2.2rem;
    --text-size-subheader: 1.9rem;
    --text-size-standard: 1.2rem;
    --text-size-small: 0.9rem;
}