:root {
    --color-accent-one: #FF6A85;
    --color-accent-two: #9948FF;
    --color-accent-three: #46C127;
    --color-dark: #3C4D5B;
    --color-gray: #D8DBDE;

    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 500;

    --padding: 8px;
    --padding-medium: calc(var(--padding) * 2);
    --padding-large: calc(var(--padding) * 4);
    --padding-xlarge: calc(var(--padding) * 8);

    --text-font-name-primary: "Work Sans";
    --text-font-name-secondary: "Nunito";

    --text-size-button: 1.4rem;
    --text-size-header: 3.8rem;
    --text-size-subheader: 1.9rem;
    --text-size-link: 1.2rem;
}