a {
    font-size: var(--text-two-link-secondary-size);
}

a:hover, a:active {
    color: var(--color-two-text-accent);
}

a.large {
    font-size: var(--text-two-link-primary-size); 
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--padding) * 3);
}

a.large:last-child {
    margin-bottom: 0;
}

a.link--button:link, a.link--button:visited {
    padding: calc(var(--padding) * 0.5) calc(var(--padding) * 2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link--button:hover {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
    filter: brightness(150%);
}

a.link--button:active {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
    filter: brightness(75%);
}

a.link--button:link.link--selected, a.link--button:visited.link--selected, a.link--button:hover.link--selected, a.link--button:active.link--selected {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
}

html, body {
    color: var(--color-two-text-accent);
    font-family: var(--text-two-font-name), sans-serif;
}

h1 {
    font-size: var(--text-two-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

h4 {
    color: var(--color-two-text-accent);
    font-size: var(--text-two-subheader-size);
    font-weight: var(--font-weight-bold);
    margin: 0 0 calc(var(--padding) * 0.5) 0 ;
}

.logo {
    cursor: pointer;
    width: 30px;
}

#c-effects-container {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 0;
    overflow: hidden;
    position: absolute;
    pointer-events:none;
    right: 0;
    top: 0;
    z-index: 0;
}

#c-transition-shim {
    background-color: white;
    border-bottom: 1px solid var(--color-default-dark);
    border-top: 1px solid var(--color-default-dark);
    height: 0%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    transition: height 0.3s;
    transition-timing-function: ease-out;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: calc(var(--text-two-header-size) * 0.75);
    }

    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.75); 
    }
}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: calc(var(--text-two-header-size) * 0.5);
    }

    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.5); 
    }
}

@media only screen and (max-width: 670px) {
    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.45); 
        margin-bottom: 0;
    }

    h4 {
        font-size: calc(var(--text-two-subheader-size) * 0.8);
    }

    html, body {
        font-size: calc(var(--text-two-copy-size) * 0.8);
        font-weight: var(--font-weight-thin);
    }
}