body {
    font-family: var(--text-two-font-name), sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-right: calc(var(--padding) * 64);
    margin-left: calc(var(--padding) * 12);
    margin-top: calc(var(--padding) * 7);
}

section {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: calc(var(--padding) * 13);
    margin-top: calc(var(--padding) * 12);
    right: 0;
    top: 0;
    width: calc(var(--padding) * 32);
}