aside {
    display: grid;
    gap: calc(var(--padding) * 0.5);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.2rem 3.2rem;
    position: absolute;
    right: calc(var(--padding) * 5);
    top: calc(var(--padding) * 7);
    width: 146px;
}

footer {
    /* background-color: gray; */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: calc(var(--padding) * 5);
    width: 25rem;
    /* z-index: 98; */
}

.footer__item {
    text-align: center;
}

header {
    /* background-color: greenyellow; */
    margin-top: calc(var(--padding) * 6);
    width: 55rem;
    /* z-index: 99; */
}

html, body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    /* background-color: hotpink; */
    justify-items: center;
    border-radius: calc(var(--padding) * 2);
    box-shadow: var(--effect-default-shadow);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: calc(var(--padding) * 4);
    margin-top: calc(var(--padding) * 5);
    padding: calc(var(--padding) * 5) calc(var(--padding) * 5) calc(var(--padding) * 2) calc(var(--padding) * 5);
    width: 55rem;
    /* z-index: 100; */
}

.c-description {
    /* background-color: khaki; */
    display: flex;
    filter: saturate(250%);
    flex-direction: column;
    font-size: var(--text-one-copy-size);
    opacity: 0;
    position: absolute;
    left: 0;
    transition: opacity 0.5s;
    top: 0;
    width: 28%;
}

@media only screen and (max-width: 1240px) {
    .c-description {
        width: 24%;
    }
}

@media only screen and (max-width: 1020px) {
    main {
        width: 42rem;
    }

    .c-description {
        width: 24%;
    }
}

@media only screen and (max-width: 840px) {
    aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: calc(var(--padding) * 3);
        position: unset;
        width: 100%;
    }

    footer {
        margin-bottom: calc(var(--padding) * 4);
    }

    .c-description {
        width: 45%;
    }
}

@media only screen and (max-width: 670px) {
    html, body {
        overflow-x: hidden;
    }

    header {
        margin-top: calc(var(--padding) * 4);
        width: 90%;
    }

    main {
        border-radius: 0;
        box-shadow: none;
        display: grid;
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        justify-items: flex-start;
        margin-top: calc(var(--padding) * 2);
        margin-bottom: calc(var(--padding) * 1);
        width: 100%;
    }

    .c-description {
        align-items: flex-start;
        color: var(--color-default-light);
        left: 0;
        margin-left: calc(var(--padding) * 3);
        margin-bottom: calc(var(--padding) * 3);
        opacity: 1;
        position: unset !important;
        top: 0;
        transition: none;
        width: 80%;
    }
}