a.link--button:link.link--selected, a.link--button:visited.link--selected, a.link--button:hover.link--selected, a.link--button:active.link--selected {
    background-color: var(--color-one-button-selected-background-dark);
}

html, body {
    background-color: transparent;
    background-image: var(--color-one-background-light);
    font-family: 'Work Sans', sans-serif;
}

.logo {
    cursor: pointer;
    width: 30px;
}

.logo-fill {
    fill: var(--color-default-light);
}

main {
    background-color: var(--color-one-background-dark);
    background-image: none;
}