a.link--button:link.link--selected, a.link--button:visited.link--selected, a.link--button:hover.link--selected, a.link--button:active.link--selected {
    background-color: var(--color-one-button-selected-background-dark);
}

html, body {
    background-image: var(--color-one-background-light);
}

.logo {
    cursor: pointer;
    width: 30px;
}

.logo-fill {
    fill: var(--color-default-light);
}

.logo-fill:hover {
    fill: var(--color-one-text-accent);
}

main {
    background-color: var(--color-one-background-dark);
    background-image: none;
}

@media only screen and (max-width: 840px) {
    a.link--button:link.link--selected, a.link--button:visited.link--selected, a.link--button:hover.link--selected, a.link--button:active.link--selected {
        background-color: var(--color-one-button-selected-background-light);
    }
}

@media only screen and (max-width: 670px) {
    main {
        background-color: transparent;
    }   
}