html, body {
    background-image: var(--color-one-background-dark);
    font-family: 'Work Sans', sans-serif;
}

.logo {
    cursor: pointer;
    width: 30px;
}

.logo-fill {
    fill: var(--color-default-light);
}