a {
    font-size: var(--text-one-link-secondary-size);
    font-weight: var(--font-weight-regular);
}

a, a:visited {
    color: var(--color-default-light);
}

a:hover, a:active {
    color: black;
}

a.large {
    font-size: var(--text-one-link-primary-size); 
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--padding) * 5);
    transition: opacity 0.25s;
}

a.large:last-child {
    margin-bottom: 0;
}

a.large:hover, a.large:active {
    color: var(--color-one-text-accent);
    filter: saturate(250%);
}

a.link--button:link, a.link--button:visited {
    color: var(--color-default-light);
    background-color: var(--color-one-button-default-background);
    padding: calc(var(--padding) * 0.75) calc(var(--padding) * 2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link--button:hover {
    background-color: var(--color-one-button-hover-background);
}

a.link--button:link.link--selected {
    border: solid 1px var(--color-default-light);
}

#js_one {
    border-radius: calc(var(--padding) * 2) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
}

#js_two {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 2) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5);
}

#js_light {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 2);
}

#js_dark {
    border-radius: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) calc(var(--padding) * 2) calc(var(--padding) * 0.5);
}

aside {
    display: grid;
    gap: calc(var(--padding) * 0.5);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.2rem 3.2rem;
    position: absolute;
    right: calc(var(--padding) * 5);
    top: calc(var(--padding) * 7);
    width: 146px;
}

footer {
    /* background-color: gray; */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: calc(var(--padding) * 5);
    width: 25rem;
    /* z-index: 98; */
}

.footer__item {
    text-align: center;
}

header {
    /* background-color: greenyellow; */
    margin-top: calc(var(--padding) * 6);
    width: 55rem;
    /* z-index: 99; */
}

html, body {
    align-items: center;
    color: var(--color-one-text-accent);
    display: flex;
    font-family: var(--text-one-font-name), sans-serif;
    font-weight: var(--font-weight-thin);
    flex-direction: column;
    position: relative;
    width: 100%;
}

main {
    /* background-color: hotpink; */
    justify-items: center;
    border-radius: calc(var(--padding) * 2);
    box-shadow: var(--effect-default-shadow);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: calc(var(--padding) * 4);
    margin-top: calc(var(--padding) * 5);
    padding: calc(var(--padding) * 5) calc(var(--padding) * 5) calc(var(--padding) * 2) calc(var(--padding) * 5);
    width: 55rem;
    /* z-index: 100; */
}

h1 {
    color: var(--color-default-light);
    font-size: var(--text-one-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
    text-align: center;
}

h4 {
    color: var(--color-one-text-accent);
    font-size: var(--text-one-subheader-size);
    font-weight: var(--font-weight-bold);
    margin: 0 0 calc(var(--padding) * 0.5) 0 ;
}

.logo {
    cursor: pointer;
    grid-column: 1 / span 3;
    padding-bottom: calc(var(--padding) * 4);
    margin: auto;
    width: 80px;
}

#js_c-effects-overlay {
    background-color: transparent;
    height: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    z-index: 0;
}

#js_c-effects-overlay__shim {
    /* background-color: black; */
    border-left: 4px solid #963446;
    background-image: linear-gradient(to right, #63222D, #63222D 0.24%, rgba(0,0,0,1) 0.25%, rgba(0,0,0,1) 100%);
    height: 0;
    position: absolute;
    pointer-events: none;
    right: -150%;
    top: 0;
    transition: right 0.25s, transform 0.35s;
    transition-timing-function: ease-in-out;
    width: 150%;
}

#c-ui-controls {
    opacity: 1;
    transition: opacity 0.25s;
}

.c-description {
    /* background-color: khaki; */
    display: flex;
    filter: saturate(250%);
    flex-direction: column;
    font-size: var(--text-one-copy-size);
    opacity: 0;
    position: absolute;
    left: 0;
    transition: opacity 0.5s;
    top: 0;
    width: 28%;
}