a {
    font-size: var(--text-two-link-secondary-size);
}

a:hover, a:active {
    color: var(--color-two-text-accent);
}

a.large {
    font-size: var(--text-two-link-primary-size); 
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--padding) * 3);
}

a.large:last-child {
    margin-bottom: 0;
}

a.link--button:link, a.link--button:visited {
    padding: calc(var(--padding) * 0.5) calc(var(--padding) * 2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link--button:hover {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
    filter: brightness(150%);
}

a.link--button:active {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
    filter: brightness(75%);
}

a.link--button:link.link--selected, a.link--button:visited.link--selected, a.link--button:hover.link--selected, a.link--button:active.link--selected {
    background-color: var(--color-two-button-background-selected);
    color: var(--color-default-light);
}

html, body {
    /* background-color: lightpink !important; */
    color: var(--color-two-text-accent);
    display: flex;
    flex-direction: column;
    font-family: var(--text-two-font-name), sans-serif;
}

h1 {
    font-size: var(--text-two-header-size);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

h4 {
    color: var(--color-two-text-accent);
    font-size: var(--text-two-subheader-size);
    font-weight: var(--font-weight-bold);
    margin: 0 0 calc(var(--padding) * 0.5) 0 ;
}

aside {
    /* background-color: magenta; */
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    right: calc(var(--padding) * 5);
    top: calc(var(--padding) * 7);
    width: 146px;
}

footer {
    /* background-color: gray; */
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--padding) * 5);
    margin-left: calc(var(--padding) * 10);
    margin-right: calc(var(--padding) * 10);
    margin-top: calc(var(--padding) * 8);
}

.footer__item {
    margin-right: calc(var(--padding) * 2);
}

header {
    /* background-color: greenyellow; */
    margin-left: calc(var(--padding) * 10);
    margin-right: calc(var(--padding) * 10);
    margin-top: calc(var(--padding) * 6);
}

main {
    /* background-color: hotpink; */
    display: grid;
    gap: calc(var(--padding) * 2);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: calc(var(--padding) * 10);
    margin-right: calc(var(--padding) * 10);
    margin-top: calc(var(--padding) * 5);
}

.c-description {
    /* background-color: khaki; */
    display: flex;
    flex-direction: column;
    font-size: var(--text-two-copy-size);
    margin-top: calc(var(--padding) * 1);
    opacity: 0;
    transition: opacity 0.5s;
    width: 75%;
}

.logo {
    cursor: pointer;
    width: 30px;
}

#js_c-effects-overlay {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 0;
    overflow: hidden;
    position: absolute;
    pointer-events:none;
    right: 0;
    top: 0;
    z-index: 0;
}

#js_c-effects-overlay__shim {
    background-color: white;
    border-bottom: 1px solid var(--color-default-dark);
    border-top: 1px solid var(--color-default-dark);
    height: 0%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    transition: height 0.3s;
    transition-timing-function: ease-out;
    width: 100%;
}