:root {
  --effect-perspective: 25px;

  --color-default-light: #ffffff;
  --color-default-dark: #333333;

  --color-one-text-accent: #E06C81;
  --color-one-background-light: radial-gradient(156.69% 156.69% at 50% 156.69%, #ED6981 0%, #1F4855 100%);
  --color-one-background-dark: #333333;
  --color-one-button-default-background: #ffffff44;
  --color-one-button-hover-background: #ffffff95;
  --color-one-button-selected-background-dark: #a25d71;
  --color-one-button-selected-background-light: #3C4D5B;

  --color-two-text-accent: #0084ff;
  --color-two-background-light: #ffffff;
  --color-two-background-dark: #333333;
  --color-two-button-background-selected: #0084ff;

  --text-one-font-name: "Work Sans";
  --text-one-header-size: 4.0rem;
  --text-one-subheader-size: 2.0rem;
  --text-one-copy-size: 1.7rem;
  --text-one-link-primary-size: 6.6rem;
  --text-one-link-primary-line-height: 9.6rem;
  --text-one-link-secondary-size: 1.6rem;

  --text-two-font-name: "Nunito";
  --text-two-header-size: 5.6rem;
  --text-two-subheader-size: 2.2rem;
  --text-two-copy-size: 2.0rem;
  --text-two-link-primary-size: 8.0rem;
  --text-two-link-secondary-size: 1.6rem;
  --text-two-article-pull-quote: 2.4rem;

  --effect-default-shadow: 0px 24px 112px rgba(0, 0, 0, 0.46);

  --padding: 8px;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-extra: 800;

  font-size: 62.5%;
}