@media only screen and (max-width: 1024px) {
    h1 {
        font-size: calc(var(--text-two-header-size) * 0.75);
    }

    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.75); 
    }
}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: calc(var(--text-two-header-size) * 0.5);
    }

    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.5); 
    }

    footer {
        margin-top: calc(var(--padding) * 6);
    }

    .c-description {
        width: 100%;
    }
}

@media only screen and (max-width: 670px) {
    a.large {
        font-size: calc(var(--text-two-link-primary-size) * 0.45); 
        margin-bottom: 0;
    }

    h4 {
        font-size: calc(var(--text-two-subheader-size) * 0.8);
    }

    html, body {
        font-size: calc(var(--text-two-copy-size) * 0.8);
        font-weight: var(--font-weight-thin);
    }

    aside {
        display: flex;
        flex-direction: row;
        margin-bottom: calc(var(--padding) * 3);
        margin-left: calc(var(--padding) * 10);
        margin-top: calc(var(--padding) * -6);
        position: unset;
    }

    main {
        /* background-color: hotpink; */
        display: grid;
        gap: var(--padding);
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .c-description {
        margin-bottom: var(--padding);
        margin-top: 0;
        opacity: 1;
        transition: none;
    }

    footer {
        margin-bottom: calc(var(--padding) * 10);
        margin-top: calc(var(--padding) * 4);
    }
}

@media only screen and (max-width: 455px) {
    aside {
        margin-left: calc(var(--padding) * 4);
    }

    main {
        margin-left: calc(var(--padding) * 4);
    }

    header {
        margin-left: calc(var(--padding) * 4);
        margin-top: calc(var(--padding) * 4);
    }

    footer {
        margin-left: calc(var(--padding) * 4);
    }

    .c-description {
        margin-bottom: calc(var(--padding) * 4);
        opacity: 1;
        transition: none;
    }
}