html, body {
  background-color: #222222;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}

h2 {
  margin-top: 0;
}

a {
  font-size: large;
}

a:link, a:visited {
  color: teal;
}

a:hover, a:active {
  color: hotpink;
}

.chooser {
  background-color: white;
  border-radius: 8px;
  height: auto;
  margin: 64px auto auto auto;
  padding: 32px 32px 40px 32px;
  width: 25%;
}

.fadeOut {
  animation-name: fadeOutAnimation;
  animation-duration: var(--duration-default);
  animation-fill-mode: forwards;
}

.loading {
  display: block;
}

.error {
  display: none;
}

.ready {
  display: none;
}